.container {
    /*width: 100%;*/
    /*border: 80vh;*/
    /*background-color: red;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    height: 100%;
    padding: 15px;
}

/*.container .fQuestion {*/
/*    padding: 5px;*/
/*    width: 90%;*/
/*    margin: 20px;*/
/*    background-color: #61dafb;*/
/*    !*display: block;*!*/
/*}*/
.container .pas{
    background-color: green;
     padding: 5px;
    width: 90%;
    margin: 20px;
    border-radius: 30px;
}
.container .rad{
    background-color: red;
     padding: 5px;
    width: 90%;
    margin: 20px;
    border-radius: 30px;
}
/*.container .falsequest{*/
/*    border: 2px solid #b400d4;*/
/*}*/
.form{
    /*background-color: rgba(68, 0, 75, 0.63);*/
    border-radius: 30px;
    border:2px purple dashed ;
}